/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 20px;
	background-color: pink;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

header {
  margin-top: 0px;
  background-color: #000;
  color: #eee;
  text-align: center;
}

header p {
    line-height: 100px;
}

.item {
    margin-left:300px;
    margin-right:300px;
    min-height: 90px;
}

.ddd{
    margin: 0 auto;
    height:300px;
    width:300px;
}

img{
  height: 50px;
  width:  50px;
}

.carousel-inner {
    position: fixed;
    top: 0;
    left: 0;
    height: 500 px;
    min-width: 100%;   
}

table {
	width: 100%;
}

thead th {
   padding: 0.4em;
   text-align: left;
}

tbody td {
	padding: 0.4em;
  text-align: left;
}

main {
  flex-grow: 1;
  padding: 15px;
  background-color: #fafafa;
  overflow: scroll;
}

.content-wrapper {
    display: flex;
     flex: 1 0 0;
     margin-top:auto; 
	flex-flow: row;
}

.table-box {
	border: 1px solid black;
	padding-left: 5px;
}

.sidebar {
  width: 100px;
  border-right: 5px solid black;
}

.side-bar {
  width: 150px;
  height: 150px;
}

/****************/

.md-col{float:left;box-sizing:border-box}
.md-col-9{width:75%}
.md-col-3{width:25%}

/****************/

.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}

.highlight {
  background-color: #333;
  color: pink;
  margin: 0;
  padding: 5px 0 5px 15px;
}

footer {
  margin-top: 100px;
  background-color: #000;
  position: relative;
  width: 100%;
  height: 60px;
}

footer p{
  margin-top: 10px;
}

a:link {
	color: blue;
	text-decoration: underline;
}


