*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 20px;
	background-color: pink;
  	color: #333;
  	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
}

header {
  margin-top: 5px;
  background-color: #000;
  color: #eee;
  text-align: center;
}

header p {
    line-height: 100px;
}

footer {
  margin: 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer p{
  margin-top: 18px;
}

a:link {
	color: blue;
	text-decoration: underline;
}