*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 20px;
	background-color: pink;
  	color: #333;
  	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 13px;
  	line-height: 18px;
}

header {
  margin-top: 0px;
  background-color: #000;
  color: #eee;
  text-align: center;
}

header p {
    line-height: 100px;
}

.item {
    margin-left:300px;
    margin-right:300px;
    min-height: 90px;
}

img{
    margin: 0 auto;
    height:300px;
    width:300px;
}

.carousel-inner {
    position: fixed;
    top: 0;
    left: 0;
    height: 500 px;
    min-width: 100%;   
}

th {
   padding: 0.3em 0.3em 0.3em 0.3em; 
}

td {
   padding: 0.3em 0.3em 0.3em 0.3em;  
}

footer {
  margin: 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
}

footer p{
  margin-top: 8px;
}

a:link {
	color: blue;
	text-decoration: underline;
}