<header>
	<p class="h2">Online Booking System for Tuition Centre</p>
	
	<div class="container">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>      

</div>     
	


</header>